@import "tailwindcss";
@import "./fonts.css";

@theme {
  --font-IRANSansX: "IRANSansX";

  --color-primary-tint-100: #e4efff;
  --color-primary-tint-300: #aecffe;
  --color-primary-tint-500: #79aefe;
  --color-primary-tint-700: #438efd;

  --color-primary-shade-100: #0260eb;
  --color-primary-shade-300: #0148b0;
  --color-primary-shade-500: #013075;
  --color-primary-shade-700: #00183b;
  --breakpoint-*: initial;
  --breakpoint-xs: 376px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

body {
  @apply font-IRANSansX max-w-[1920px] mx-auto! overflow-x-hidden;
}

@utility container {
  @apply mx-auto w-[90%] md:w-full;
}

@utility flex-ic {
  @apply flex items-center;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-col-center {
  @apply flex items-center justify-center flex-col;
}

@utility flex-end {
  @apply flex items-center justify-end;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility rounded-smooth {
  @apply rounded-[10%_10%_62%_57%_/_10%_10%_15%_16%];
}
